<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        ul {
            margin: 0;
            padding: 0;
            width: 25%;
            background-color: #beb4b4;
            position: fixed;
            height: 100%;
            overflow: auto;
}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The book to sucess</title>
</head>
<body>
    <ul>
        <li><a href="home.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
    </ul>
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
        <a href="book1.html" align="left">
            <img src="images/book1.jpeg" align="left" height="200"/>
        </a>
        <h1>The book to sucess</h1>
        <h2>Written by Moetaz, published in 1968</h2>
    </div>
</body>
</html>